<div class="card-container">
  <mat-card *ngFor="let m of dataSource.data" class="image-card mat-elevation-z4">
    <img mat-card-image *ngIf="m.imagen_base64" [src]="m.imagen_base64" alt="Imagen de animal" />

    <mat-card-content>
      <h3>Medición #{{ m.id }}</h3>
      <p><strong>Animal ID:</strong> {{ m.animal_id }}</p>
      <p><strong>Peso:</strong> {{ m.peso }} kg</p>
      <p><strong>Fecha:</strong> {{ m.fecha_medicion }}</p>
    </mat-card-content>
  </mat-card>
</div>

<!-- Paginador -->
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
